@font-face {
  font-family: "iconfont"; /* Project id 3615189 */
  src: url('iconfont.woff2?t=1662816241785') format('woff2'),
       url('iconfont.woff?t=1662816241785') format('woff'),
       url('iconfont.ttf?t=1662816241785') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-yingyongguanli:before {
  content: "\eb67";
}

.custom-yonghuziliao:before {
  content: "\e91b";
}

.custom-dingdan:before {
  content: "\e8ae";
}

.custom-yingyuan:before {
  content: "\e8c7";
}

.custom-dianying:before {
  content: "\e65b";
}

